@import "tailwindcss";

@theme inline {
  --font-heading: "Roboto Slab", serif;
  --font-mono: "Courier New", Courier, monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  color: #003e4a;
  font-family: "Roboto Slab", serif;
}

.font-heading {
  font-family: var(--font-heading);
}
